.a1{
    background-color: rgb(226, 43, 43);
    color: coral;
    font-size: medium;
    font-style: italic;
}
.header{
    /* height: 50px; */
    width: 100%;
    display: flex;
    text-align: center;
    
}
.container{
    /* height: 50px; */
    width: 100%;
    background-color: rgb(65, 60, 60);
    font-size: 30px;
    display: flex;
    justify-content: space-between;

}

.logo{
    height: 50px;
    line-height: 40px;
    /* background-color: fuchsia;  */
    text-align: center;
    color: white;
    font-weight: bolder;
    line-height: 50px;

}

.navigation{
    height: 50px;
    width: 50%;
    font-size: 20px;
    /* background-color: #fff; */
   display: flex;
    text-align: center;
}

.nav-bar{
    display: flex;
    width: 100%;
    color: white;
}

.nav-link{
    list-style-type: none;
    height: 50px;
    width: 100%;
    text-align: center;
    line-height: 50px;
}